.chat-main__body__name{"data-message-id": "#{message.id}"}
  = message.user.name
.chat-main__body__name__timestamp
  = message.created_at
.chat-main__body__comment
  - if message.content.present?
    = message.content
  = image_tag message.image.url, class: 'image' if message.image.present?
