.chat-side
  .chat-side__user
    =current_user.name
  .chat-side__user__new
    %ul.chat-side__user__icon
      %li.chat-side__user__icon
        = link_to new_group_path  do
          = fa_icon 'pencil-square-o', class: 'chat-side__user__icon'
      %li.chat-side__user__icon
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'chat-side__user__icon'
  .chat-side__group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .chat-side__group__name
          = group.name
        .chat-side__group__message
          メッセージはまだありません。

.chat-main
  .chat-main__group
    %input.edit-btn{type: "submit", value: "edit"}
    .chat-main__group__name sample
    .chat-main__group__user ryousukemaehira
  .chat-main__body
    .chat-main__body__name ryousukemaehira
    .chat-main__body__name__timestamp 2016/10/12 06:27:14
    .chat-main__body__comment なるほど
    .chat-main__body__name ryousukemaehira
    .chat-main__body__name__timestamp 2016/10/12 06:27:14
    .chat-main__body__comment なるほど

.form
  = form_for '', html: { class: 'js-form' } do |f|
    = f.text_field :content, class: 'form__message js-content', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden js-file'
    = f.submit 'Send', class: 'form__submit'
